html {
    background-color: #222;
    color: #fff;
}

body {
    margin: 0;
    padding: 0;
}

#loadinganimation {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

#loader {
    position: fixed;
    width: 350px;
    height: 350px;
    border-radius: 50%;
    background: #222;
    animation: animate 1.2s linear infinite;
    transition: all 0.5s ease-in-out;
    z-index: 999;
}

#loaderbg {
    width: 100vw;
    height: 100vh;
    background-color: #222;
    z-index: 998;
    position: fixed;
    transition: all 0.5s ease-in-out;
}

@keyframes animate {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

#loader span {
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background: linear-gradient(red, purple, blue);
}

#loader span:nth-child(1) {
    filter: blur(5px);
}

#loader span:nth-child(2) {
    filter: blur(10px);
}

#loader span:nth-child(3) {
    filter: blur(25px);
}

#loader span:nth-child(4) {
    filter: blur(50px);
}

#loader:after {
    content: '';
    position: absolute;
    top: 10px;
    left: 10px;
    right: 10px;
    bottom: 10px;
    background-color: #222;
    border: solid #222 10px;
    border-radius: 50%;
}

/* Fonts */
@import url("https://fonts.googleapis.com/css?family=Raleway:900&display=swap");
@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,300,100);
@import url(https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,500;0,600;0,700;0,800;0,900;1,500;1,600;1,700;1,800);
@import url(https://fonts.googleapis.com/css?family=Raleway:900);
@import url(https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;500);
@import url(https://fonts.googleapis.com/css?family=Noto+Sans+KR:wght@100);
@import url(https://fonts.googleapis.com/css?family=Roboto+Mono:100);
@import url(https://fonts.googleapis.com/css?family=Ubuntu:300);
@import url(https://fonts.googleapis.com/css2?family=Nunito:wght@300);
@import url(https://fonts.googleapis.com/css2?family=Maven+Pro:wght@500;700);
@import url(https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500);
@import url(https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500);
@import url(https://fonts.googleapis.com/css?family=Poppins:400,500,600,700,800,900);

@font-face {
    font-family: LemonMilk;
    src: url(https://cdn.glitch.global/1f61965e-15d8-4de3-8f2d-15723c6634d9/LemonMilkLight.ttf?v=1662220441168);
}

@font-face {
    font-family: AstroSpace;
    src: url(https://cdn.glitch.global/1f61965e-15d8-4de3-8f2d-15723c6634d9/AstroSpace-eZ2Bg.ttf?v=1665749687931)
}

@font-face {
    font-family: HeyOctober;
    src: url(https://cdn.glitch.global/1f61965e-15d8-4de3-8f2d-15723c6634d9/HeyOctober-Yz37y.ttf?v=1665749845879)
}

@font-face {
    font-family: Geffry;
    src: url(https://cdn.glitch.global/1f61965e-15d8-4de3-8f2d-15723c6634d9/GeffryRegular-MV5Jx.ttf?v=1665750040529)
}

.hidden {
    display: initial;
}

#nav {
    position: fixed;
    z-index: 997;
    top: 0;
    color: white;
    display: flex;
    justify-content: center;
    transition: all 0.2s ease-out 0s;
}

#nav #nav-deco {
    width: 100vw;
    height: 120px;
    /* background: ; */
    background-color: rgba(0, 0, 0, 0.2);
    z-index: 999;
}

#nav #nav-deco h1 {
    text-align: center;
    padding: 0;
    margin: 0;
    font-size: 45px;
    font-family: "Raleway", sans-serif;
    text-transform: uppercase;
    user-select: none;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    height: 100%;
}

#nav #nav-deco #nav-deco_left-content h2 {
    text-align: left;
    padding: 0;
    margin: 0;
    font-size: 30px;
    font-family: "Raleway", sans-serif;
    text-transform: uppercase;
    user-select: none;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}

#nav #nav-deco #nav-deco_right-content h2 {
    text-align: right;
    padding: 0;
    margin: 0;
    font-size: 30px;
    font-family: "Raleway", sans-serif;
    text-transform: uppercase;
    user-select: none;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}

#nav #nav-bottom {
    width: 40vw;
    height: 100px;
    padding: 0;
    position: absolute;
    background-color: rgba(0, 0, 0, 0.2);
    transition: all 0.2s ease-out 0s;
    border-top: red solid 3px;
    border-bottom: blue solid 3px;
    border-radius: 0 50px;
    top: 120px;
    box-shadow: 0 1em 2em blue;
}

#nav #nav-bottom:hover {
    background-color: rgba(0, 0, 0, 0.4);
    border-radius: 10px 10px 30px 30px;
    border-left: blue solid 3px;
    border-right: red solid 3px;
    border-top: none;
    border-bottom: none;
    z-index: 998;
    box-shadow: 0 0 3em lightblue;
    transform: translateY(1em);
}

@supports ((-webkit-backdrop-filter: none) or (backdrop-filter: none)) {

    #nav-deco,
    #nav-bottom {
        -webkit-backdrop-filter: blur(10px);
        backdrop-filter: blur(10px);
    }
}

/* Scrollbar */

::-webkit-scrollbar {
    /* Scrollbars */
    width: 14px;
    height: 14px;
    background: transparent;
}

::-webkit-scrollbar-thumb {
    /* Barre */
    border: solid 0 transparent;
    border-right-width: 4px;
    -webkit-border-radius: 5px;
    -webkit-border-top-right-radius: 9px 5px;
    -webkit-border-bottom-right-radius: 9px 5px;
    -webkit-box-shadow: inset 0 0 0 1px #aaa, inset 0 0 0 6px #eee;
}

::-webkit-scrollbar-corner {
    /* Coin de la fenêtre */
    background: transparent;
}

::-webkit-scrollbar-thumb:hover {
    /* Barre quand survolée */
    -webkit-transition: all 0.2s ease-out 0s;
    -moz-transition: all 0.2s ease-out 0s;
    transition: all 0.2s ease-out 0s;
    -webkit-box-shadow: inset 0 0 0 1px #555,
        inset 0 0 0 6px #666;
}

::-webkit-scrollbar-thumb:horizontal {
    /* Barre du bas */
    border-right-width: 0;
    border-bottom-width: 4px;
    -webkit-border-top-right-radius: 5px;
    -webkit-border-bottom-right-radius: 5px 9px;
    -webkit-border-bottom-left-radius: 5px 9px;
}