body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

#container {
    position: absolute;
    margin: auto;
    width: 98vw;
    height: 80pt;
    top: 0;
    bottom: 0;
    filter: url(#threshold) blur(0.6px);
}

#text1,
#text2 {
    position: absolute;
    width: 100%;
    display: inline-block;
    font-family: "Raleway", sans-serif;
    font-size: 80pt;
    text-align: center;
    user-select: none;
}

.home-content {
    position: absolute;
    margin-top: 150vh;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}